@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* to customize leaflet map tile */
.leaflet-container {
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

@layer utilities {
	.btn-custom-accent {
		@apply text-white bg-[#E87030] hover:bg-[#e87030]/80 focus:outline-none focus:ring-4 focus:ring-[#e87030]/30 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 border-none;
	}
	.signup-form {
		@apply form-control gap-3 p-6 md:px-10 md:py-6 w-full max-w-lg text-white border bg-custom-bg-dark bg-opacity-95 rounded-xl mt-16 shadow-lg backdrop-blur-sm;
	}
	.signup-input {
		@apply input input-bordered border-white rounded-full bg-opacity-60;
	}
	.btn-square-outline-light {
		@apply btn text-lg rounded-none text-custom-bg-dark hover:text-white border-custom-bg-dark bg-transparent hover:bg-custom-bg-dark;
	}
	.btn-square-outline-dark {
		@apply btn text-lg rounded-none text-white hover:text-custom-bg-dark border-custom-bg-light bg-transparent hover:bg-custom-bg-light;
	}
}

html {
	scroll-behavior: smooth;
}

.flex-center {
	@apply flex items-center justify-center;
}

.flex-evenly {
	@apply flex items-center justify-evenly;
}

.map-nav-button {
	@apply w-full h-full p-2 text-[#4C68C1];
}

/* for swiper */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav-margin {
	@apply mt-[64px] lg:mt-[78px];
}

/* datepicker */
.mb-3.border-gray-300.pr-1 {
	display: none;
}

/* remove the divider and another calender form the calendar */
.flex.items-stretch.flex-col.md\:flex-row.space-y-4.md\:space-y-0.md\:space-x-1\.5.md\:pl-2.pr-2.lg\:pr-1
	> :nth-child(3),
.flex.items-stretch.flex-col.md\:flex-row.space-y-4.md\:space-y-0.md\:space-x-1\.5.md\:pl-2.pr-2.lg\:pr-1
	> :nth-child(2) {
	display: none;
}

.sr-combo-inputs {
	margin: 20px 0;
  }
  
  .sr-input {
	font-size: 16px;
  }
  
  .sr-card-element {
	padding-top: 12px;
  }
  
  .btn {
	font-size: 16px;
  }
  
